*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
 
body{
  background: #F8E0E0; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#Btn{
  display: flex;
  justify-content: center;
}

#main-header {
    background: #FE2E2E;
    text-align: center;
    color: white;
    height: 80px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
    width: 100%; 
    left: 0; 
    top: 0; 
    position: fixed; 
}

#logo {
  text-align: center;
}

#main-header a {
      color: white;
  }

 
.register{
  background: white;
  border: 10px;
  vertical-align: middle;
  border-color: black;
  border-radius: 10%;
  padding: 40px;
  margin: 0 auto;
  margin-top: 200px;
  width: 500px;
  height: 500px;
  align-self: center;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
}

.importarbd{
  background: white;
  border: 10px;
  vertical-align: middle;
  border-color: black;
  border-radius: 10%;
  padding: 40px;
  margin: 0 auto;
  margin-top: 200px;
  width:1000px;
  height: 500px;
  align-self: center;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
  margin: 25px;
}

.enviarbd{
  background: rgb(255, 180, 180);
  border: 10px;
  vertical-align: middle;
  border-color: black;
  border-radius: 10%;
  padding: 40px;
  margin: 0 auto;
  margin-top: 200px;
  width:80%;
  height: 60%;
  padding: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
}
 
.register h2{
  color: #797979;
  text-align: center;
  margin-bottom: 50px;
}

.importarbd h2{
  color: #797979;
  text-align: center;
  margin-bottom: 50px;
}

.importarbd a{
  text-align: center;
  margin-bottom: 50px;
}

.enviarbd h2{
  color: #332121;
  text-align: center;
  margin-bottom: 50px;
}
 
.register input{
  width: 80%;
  padding: 5px;
  font-size: 16px;
  margin: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}

.importarbd input{
  width: 80%;
  padding: 5px;
  font-size: 16px;
  margin: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}

.enviarbd input{
  width: 80%;
  padding: 5px;
  font-size: 16px;
  margin: 25px;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
  border-radius: 10px;
}

.enviarbd .localizacion{
  border : solid 2px #ff0000;
            background : white;
            padding : 4px;
            width : 800px;
            height : 400px;
            overflow : auto;
            white-space: nowrap;
}

.register input:active,
.register input:focus{
  outline: none;
}

.importarbd input:active,
.importarbd input:focus{
  outline: none;
}

.register p {
  margin-left: 25px;
  color: #333;
}

.importarbd p {
  margin-left: 25px;
  color: #333;
}

.enviarbd p {
  margin-left: 25px;
  color: #333;
}

.register .hypervinculo {
  
  text-align: center;
  color: #333;

}
 
.importarbd .hypervinculo {
  
  text-align: center;
  color: #333;

}

.register .submit{

  margin: 0 auto;
  border-radius: 10%;
  width: auto;
  padding: 15px;
  text-align: center;
  background: #FE2E2E;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  display: flex;
}


.importarbd .submit{

  margin: 0 auto;
  border-radius: 10%;
  width: auto;
  padding: 15px;
  text-align: center;
  background: #FE2E2E;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  display: flex;
}

.enviarbd .submit{

  margin: 0 auto;
  border-radius: 10%;
  width: auto;
  padding: 15px;
  text-align: center;
  background: #ce5c42;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  display: flex;
}

.enviarbd .select{
  margin-left: 25px;
  border-radius: 10%;
  width: auto;
  padding: 15px;
  text-align: center;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
}

 
#main-footer {
    background: #FE2E2E;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}
    #main-footer p {
        margin: 0;
    }
    
    #main-footer a {
        color: white;
    }


    

    .verbd {
      background: white;
      border: 10px;
      vertical-align: middle;
      border-color: black;
      border-radius: 10%;
      padding: 20px;
      margin: 0 auto;
      margin-top: 50px;
      width: 1000px;
      height: 130px;
      align-self: center;
      padding: 10px;
      justify-content: center;
      align-items: center;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
    }

    .verbd h2{
      color: #797979;
      text-align: center;
      margin-bottom: 50px;
    }
  
  .verbd input{
      width: 80%;
      padding: 5px;
      font-size: 16px;
      margin: 25px;
      border-top-style: none;
      border-left-style: none;
      border-right-style: none;
      border-bottom: 1px solid #a8a8a8;
      color: #333;
  }

.verbd input:active,
.verbd input:focus{
  outline: none;
}

.verbd p {
  margin-left: 25px;
  color: #333;
}

.verbd .hypervinculo {
  
  text-align: center;
  color: #333;

}

.verbd .submit{

  margin: 0 auto;
  border-radius: 10%;
  width: auto;
  padding: 15px;
  text-align: center;
  background: #FE2E2E;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  display: flex;
}

